.main-title__description {
  align-self: center;
  max-width: 580px;
  margin-top: 10px;

  color: var(--info-text-color);
  opacity: 0.8;

  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
